.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.top {
  display: flex;

}

.imgcontainer {
  width: 70%;
  height: 400px;
 position: relative;

}
.img {
  object-fit: cover;
}
.date {
  font-size: 17px;
  transform: rotate(270deg);
  margin: auto;
 
 
}

.title{
    font-size: 22px;
    margin-bottom: 20px;
}
.desc{
  width: 70%;
    margin-bottom: 20px;
    font-weight: 300;
    color: grey;
}

