.post{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.details{
    display: flex;
    align-items: center;
    gap: 20px;
}
.postbutton{
    padding: 5px 10px ;
    background-color: rgba(220, 20, 68, 0.593);
    color: var(--text);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}